body {
    background-color: #e6e6e6;
    font-family: 'Catamaran', sans-serif;

    -webkit-touch-callout:  none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none
}

#linkback {
    /*border: 0.3vh solid red;*/
    font-size: 3.5vh;
    font-weight: 700;
    padding: 3vh;

    position: fixed;
    z-index: 10
}

#name {
    text-align: center;
    font-size: 7vh;
    font-weight: 800;

    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto

}

.content {
    border: 0.5vh solid black;
    width: 90vh;
    padding: 3vh;

    position: absolute;
    left: 0;
    right: 0;
    top: 23%;
    margin: auto
}

/* title */
h4 {
    font-size: 3.5vh;
    font-weight: 800;

    margin-top: 0vh;
    margin-bottom: 0vh;
}

/* years active */
h5 {
    font-size: 2.5vh;
    font-weight: 800;
    color: #717171;

    margin-top: 0vh;
    margin-bottom: 1vh;
}

/* description */
p {
    font-size: 3vh;
    font-weight: 500;
    
    margin-top: 0vh;
    margin-bottom: 2vh;
}
