html {
    background-color: #e6e6e6;
	/*overflow: hidden;*/
}

body {
    font-family: 'Roboto', sans-serif;

    /* -webkit-touch-callout:  none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none */
}

a {
    /* links */
    text-decoration: none;
}

h1 {
    /* name */
    text-align: center;
    font-size: 4em;
    margin-bottom: -1%
}

.content {
    width: 75em;
    margin-left: auto;
    margin-right: auto;

	justify-content: center;
	align-items: center;
    align-content: center;
}

h3 {
    /* portfolio title */
    text-decoration: underline;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}

img {
    margin-top: 2%
}

#left {
    float: left;
    padding-left: 2em;
    padding-right: 2em;
}

#right {
    float: right;
    padding-left: 2em;
    padding-right: 2em;
}

.infobox-right {
    text-align: left;
    border: 0.5vh solid transparent;
    padding: 0.5em;
}

.infobox-left {
    text-align: right;
    border: 0.5vh solid transparent;
    padding: 0.5em;
}

h4 {
    /* title */
    font-size: 2.5em;
    font-weight: 600;
    margin: 0.2em;
}

h5 {
    /* years active */
    font-size: 2em;
    font-weight: 600;
    margin: 0.3em;
    color: #717171;
}

p {
    /* description */
    font-size: 1.75em;
    margin: 1em;
}

#back {
    text-align: center;
    font-weight: 600;
}

audio {
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
