body {
    background-color: #e6e6e6;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    white-space: nowrap;

    -webkit-touch-callout:  none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none
}

a {
    text-decoration: none;
    list-style-type: none
}

ul {
    list-style-type: none
}

.head {
    /*border: 0.3vh solid red;*/

    /* top-ish of the viewport */
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 70%;
    margin: auto
}

.name {
    font-size: 7vh;
    font-weight: 800;
}

.caption {
    font-size: 3.5vh;
}

.links {
    font-size: 3.5vh;

    width: 20vh;
    height: 23vh;
    border: 0.5vh solid black;
    padding: 3vh;

    /* absolute center of viewport */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.about {
    font-size: 3vh;

    width: 10vh;
    height: 5vh;
    border: 0.5vh solid black;
    padding: 0.5vh;

    /* bottom-ish of the viewport */
    position: absolute;
    left: 0;
    right: 0;
    top: 68%;
    bottom: 12%;
    margin: auto
}