body {
    background-color: #e6e6e6;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    white-space: nowrap;

    -webkit-touch-callout:  none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none
}

a {
    text-decoration: none;
    list-style-type: none
}

ul {
    list-style-type: none
}

#name {
    font-size: 7vh;
    font-weight: 800;

    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto
}

#caption {
    font-size: 3.5vh;

    position: absolute;
    left: 0;
    right: 0;
    top: 23%;
    margin: auto
}

.links {
    font-size: 3.5vh;

    border: 0.5vh solid black;
    width: 20vh;
    height: 30vh;
    padding: 3vh;

    /* bottom-mid-ish of viewport */
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    margin: auto
}

#about {
    /*border: 0.3vh solid red;*/
    font-size: 3.5vh;
    font-weight: 700
}
